body {
    font-family: Arial, sans-serif;
    background-color: #e0d7b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#detalle-pokemon {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;
}

#detalle-pokemon:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

img {
    width: 150px;
    height: auto;
}

p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
